:host(.app-host) {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .app-window {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .header {
      display: flex;
      padding: 16px;

      .title {
        font-weight: bold;
        font-size: x-large;
      }

      .page-status {
        display: flex;
        align-items: center;

        .page-list {
          margin: 0px 16px;
        }
      }
    }

    .body {
      flex: 1;
      display: flex;
      flex-direction: column;
      overflow: hidden;

      .content-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: auto;

        .user {
          margin: 4px 0px;
          padding: 8px;
          background: lightblue;
        }
      }

      app-table-pages {
        background-color: lightyellow;
      }

      .table-footer {
        display: flex;
        flex-direction: row;
        background: lightyellow;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
